* {
    text-decoration: none;
    color: black;
}
.single{
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 70px;
    position: fixed;
   left: 10px;
    color: rgb(0, 0, 0);
    margin: auto;
    border: 3px solid black;
    border-radius: 7%;
    box-shadow: 0px 0px 15px 0px black;
    background: rgb(230, 172, 66);
    font-family: "Pixelify Sans", sans-serif;
}
.multiplayer{
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 70px;
    right: 10px;
    position: fixed;
    color: rgb(0, 0, 0);
    margin: auto;
    border: 3px solid black;
    border-radius: 7%;
    box-shadow: 0px 0px 15px 0px black;
    background: rgb(230, 172, 66);
    font-family: "Pixelify Sans", sans-serif;
}
.single:hover{
    background: #743f0f;
    transition: background 1s;
}
.multiplayer:hover{
    background: #743f0f;
    transition: background 1s;
}
.voltar{
    position: relative;
    top: 80%;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 70px;
    position: fixed;
    color: rgb(38, 43, 61);
    margin: auto;
    border: 3px solid rgb(38, 43, 61);
    border-radius: 7%;
    box-shadow: 0px 0px 15px 0px rgb(38, 43, 61);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 25pt;
}
.voltar:hover{
    background: rgb(50, 60, 95);
    transition: all 1s;
}