body {
    overflow: hidden;
}

canvas {
    display: block;
    background-color: green;
 
}

#dv1 {
    width: 65px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

div.barra {
    position: relative;
    bottom: 20px;
    right: 5px;
    width: 120%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

div.barraCheia {
    background-color: black;
    width: 0%;
    height: 100%;
}

div.timer {
    position: absolute;
   background-color: white;
   border-radius: 10px;
   padding: 5px 10px;
    top: 0;
    left: 90%;
    transform: translate(-50%);
}