body {
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #87CEEB;
 
}

#dv1 {
    width: 65px;
    height: 100px;
 
    position: absolute;
  
    
    background-repeat: no-repeat;
    background-size: cover;

}