body {
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #87CEEB;
 
}

#dv1 {
    width: 65px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

div.barra {
    position: relative;
    bottom: 20px;
    right: 5px;
    width: 120%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

div.barraCheia {
    background-color: black;
    width: 25%;
    height: 100%;
}