@media (max-width:1050px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .animationGamer {
        width: 90vw;
        font-size: 28pt;
    }
    .game {
        width: 70vw;
    }

    footer {
        position: relative;
        top: 120px;
        gap: 10%;
       
    }
}