body {
    background: url(https://i.pinimg.com/originals/43/1c/e5/431ce5d15aab86f66a91ec9a07c9114f.gif) no-repeat fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}
.main-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
   
}

section {   
    position: relative;
    top: 55px;
    width: 45%;
    height: 75vh;
    margin: 10px;
    text-align: center;

}

section.animationGamer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
   
    
}

#textGames span {
    font-family: 'gamer';
    font-size: 120pt;
    display: inline-block;
    font-weight: 100;
    color: white;

}


section.LinkGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.game {
    width: 95%;
    height: 50%;
    border-radius: 20px;
    background-color: white;
    transition: all 1s;
    border: 2px solid white;
  
}

.game:hover {
    animation: upDown 1s infinite;
    box-shadow: 1px 1px 10px black;
    transform: scale(1.1);
}

.game:nth-child(1) {
    background: url(../img/site/TicTacToeImage.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.game:nth-child(2) {
    background: url(https://i.pinimg.com/564x/02/f7/85/02f785fd6ea9fea1f7ecf41a7162d72c.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.game:nth-child(3) {
    background: url(../img/site/JogoRPG.png) no-repeat;
    background-position: center;
    background-size: cover;
    
}

.linkGames {
    width: 100%;
    height: 100%;
}

.game div {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
     
}

.game div:hover {
    transition: all 1s;
    opacity: .3;
    background-color: black;
}

.mainGame div:hover :not(h1) {
    transition: all 1s;
    background-color: black;
    opacity: .3;
}

.gameDown {
    width: 100%;
    height: 100%;
}