* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
@font-face {
  font-family: "topGear";
  src: url(../fonts/topGear/Helvetica\ Neue\ 67\ Medium\ Condensed\ Oblique.otf) format("opentype");
}

@font-face {
    font-family: "arcade";
    src: url(../fonts/arcade_ya/ARCADE_I.TTF) format("truetype");
  }
  
  @font-face {
    font-family: "straider";
    src: url(../fonts/straider/Straider.ttf) format("truetype");
  }

  @font-face {
    font-family: "SuperMario";
    src: url(../fonts/mario_luigi_2/MarioLuigi2.ttf) format("truetype");
  }

  @font-face {
    font-family: "gamer";
    src: url(../fonts/gamer_2/Gamer.ttf) format("truetype");
  }

  @font-face {
    font-family: "sonic";
    src: url(../fonts/nise-sega-sonic/NiseSegaSonic.TTF) format("truetype");
  }

  @font-face {
    font-family: "pacMan";
    src: url(../fonts/pacfont/PAC-FONT.TTF) format('truetype');
  }

  @font-face {
    font-family: "StreetFighter";
    src: url(../fonts/street_fighter/Street\ Fighter.ttf) format("truetype");
  }

  @font-face {
    font-family: "DonkeyKong";
    src: url(../fonts/jumpman/Jumpman.ttf) format('truetype');
  }

  html {
    scroll-behavior: smooth;
  }


  /*
  fonts types
  - opentype 
  - truetype
  - embedded-opentype
  - truetype-aat (Apple Advanced Typografy)
  - svg
  */

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(91, 91, 91);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid  rgb(91, 91, 91);  /* creates padding around scroll thumb */
  }