@font-face {
  font-family: "arcade";
  src: url(../fonts/arcade_ya/ARCADE_I.TTF) format("truetype");
}

@font-face {
  font-family: "straider";
  src: url(../fonts/straider/Straider.ttf) format("truetype");
}
/*
fonts types
- opentype 
- truetype
- embedded-opentype
- truetype-aat (Apple Advanced Typografy)
- svg
*/

section.slider {
  position: absolute;
  width: 90%;
  height: 70vh;
  background: black;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  border-radius: 20px;
  padding: 0;
  box-shadow: 5px 5px 20px black;
}

.slider-content {
  width: 400%;
  height: 100%;
  display: flex;
}

.slider-content input,
.img-mobile {
  display: none;
}

.slider-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: all 1s ease;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  bottom: 5%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid #ff0054;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #ff0054;
}

@media (max-width: 1035px) {
  section.slider {
    min-height: 60%;
  }
}

.first-background {
  background-image: url(../img/site/background-slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (max-width: 735px) {
  section.slider {
    min-height: 40%;
  }
}

#radio1:checked ~ .nav-manual .manual-btn:nth-child(1),
#radio2:checked ~ .nav-manual .manual-btn:nth-child(2),
#radio3:checked ~ .nav-manual .manual-btn:nth-child(3) {
  background-color: #ff0054;
}

/*~ = when happen this will happen this*/

#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: 25%;
}
#radio3:checked ~ .first {
  margin-left: 50%;
}

/*slider content */

/* slide 1*/

div.slider-text {
  position: relative;
  color: white;
  text-align: left;
  top: 50%;
  transform: translate(0, -50%);
  padding: 30px;
  margin-right: 45%;
}

div.slider-text h1,
h4,
span {
  padding: 10px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  text-wrap: nowrap;
}

div.slider-text h1 span {
  color: yellow;
}

div.slider-text h1 {
  font-size: 50pt;
  margin-left: 20px;
}

.animation-mario {
  position: relative;
  top: 30%;
  transform: translate(0, -50%);
  height: 300px;
}

.animation-mario img {
  position: relative;
  width: 45px;
}

.animation-mario img.mario {
  float: left;
  top: 42%;
  transform: translate(0, -50%);
  transition: all 5s;
}

.animation-mario img.blockCoin {
  float: right;
  right: 20%;
  transition: all 1s;
}

.animation-mario img.moeda {
  float: right;
  right: 17%;
  z-index: -1;
  transition: all 1s;
}

/*Slider 2*/
div.slider-box .asteroids {
  position: relative;
  background: url(../img/site/background-stars.png) center no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  right: 200%;
  display: flex;
}

div.slider-box .asteroids img {
  position: relative;
}

.ship-box-animation {
  float: right;
  height: 100%;
  width: 50%;
}

div.ship-box-animation .meteorites {
  position: relative;
  height: 50%;
  width: 100%;
}

.ship-box-animation img.meteorite1 {
  width: 250px;
  right: 1%;
  animation: asteroidsRotate infinite 20s;
}
.ship-box-animation img.meteorite2 {
  width: 200px;
  float: right;
  bottom: 1%;
  animation: asteroidsRotate infinite 20s;
}

.ship-box-animation img.spaceship {
  transform: translate(-50%, -50%);
  width: 80px;
  top: 20%;
  right: 5%;
}

.text-asteroids {
  float: left;
  width: 50%;
  height: 100%;
  text-wrap: nowrap;
}

div.slider-box .asteroids .text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-size: 20pt;
  color: white;
  letter-spacing: 10px;
  line-height: 2em;
}

div.slider-box .asteroids .text h2 {
  font-family: "arcade";
  text-transform: uppercase;
  font-weight: 100;
  font-weight: 100;
  font-size: 18pt;
}

div.slider-box .asteroids .text span.span-arcade {
  background-image: linear-gradient(to top, white, aqua);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient infinite 5s;
}

@keyframes asteroidsRotate {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 0deg;
  }
}

/*Slider 3*/

div.slider-box .race {
  position: relative;

  background-size: cover;
  overflow: hidden;
  width: 150%;
  height: 100%;
  right: 500%;
  display: flex;
}

div.race .text-race {
  position: relative;
  width: 50%;
  color: white;
  text-wrap: nowrap;
  float: left;
}

div.race .text-race h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 500;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 50px;
  font-size: 15pt;
  line-height: 2em;
}

div.race .animation-car {
  position: relative;
  float: right;
  width: 50%;
}

div.race .animation-car img {
  width: 100%;
  height: 100%;
}
/* content below */

div.content-below {
  position: relative;
  top: 110vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

div.container-video {
  position: relative;
  top: -10%;
  display: flex;
  width: 50%;
  height: 65%;
  left: 5%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid rgb(241, 241, 241);
}

div.container-video .video {
  position: absolute;
  filter: blur(5px) saturate(1.5) hue-rotate(10deg);
  width: 100%;
}
div.container-video div {
  width: 400px;
  color: white;
}

div.container-video .left {
  text-align: right;
  font-size: 20pt;
}

div.container-video .right {
  font-size: 15pt;
}

div.container-video .right,
.left {
  padding: 20px;
}

div.container-video .line {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
}

div.arcade img {
  position: relative;
  width: 480px;
  bottom: 11%;
}

/*content_2 */

div.content_2 {
  position: relative;
  top: 700px;
  width: 100%;
  height: 100vh;

  margin-bottom: 10%;
}

div.box-container .content {
  position: relative;
  display: flex;
  margin: 10px;
  width: 100%;
  top: 100px;
}

div.box-container div.past .text-arcade {
  position: relative;
  width: 50%;
  text-align: center;
}

div.box-container div.past .text-arcade p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

div.box-container div.past .title {
  float: right;
  width: 50%;
}

div.box-container div.past .title h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
}

/* Scrool Animation */

.hidden {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
}
